@font-face {
    font-family: 'SF Mono';
    src: url('SF-Mono-Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SF-Mono-Semibold.otf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --foreground-color: #696969;
    --accent-color: white;
}

::selection {
    color: var(--background-color);
    background-color: var(--accent-color);
}

html {
    color: var(--foreground-color);
    background-color: var(--background-color);

    height: 100vh;

    background-image: url(mac.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
}

body {
    font-family: 'SF Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
    mix-blend-mode: difference;

    /* -webkit-font-smoothing: none; */
}

@media (min-width: 540px) {
    html {
        background-size: 75% auto;
        background-position: bottom right;
    }
}

a:link, a:active, a:hover, a:visited {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    
    text-transform: uppercase;
    padding: 0 2px;
}

a:active, a:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
}

p {
    margin-bottom: 15px;
}

main {
    max-width: 480px;
    padding: 48px;
    margin: 0;
}