@font-face {
    font-family: 'SF Mono';
    src: url('SF-Mono-Regular.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SF-Mono-Semibold.otf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: white;
    --foreground-color: #484848;
    --accent-color: #663399;
    --divider-color: #66339935;
}

body {
    font-family: 'SF Mono', monospace;
    font-size: 15px;
    line-height: 1.5;

    color: var(--foreground-color);
    background-color: var(--background-color);
}

@media (min-width: 400px) {
    body {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100vh;
    }
}

a:link, a:active, a:hover, a:visited {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid var(--divider-color);
}

p {
    margin-bottom: 15px;
}

main {
    max-width: 380px;
    padding: 30px;
    margin: 0 auto;
}